@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
}

.content-line {
  position: relative;
  z-index: 2;
  /* background: rgb(var(--background)); */
}


/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the background pattern */
.background-pattern {
  opacity: 0; 
  animation: fadeIn 1s ease-in-out 1s forwards; 
}
