@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
}

.content-line {
  position: relative;
  z-index: 2;
  /* background: rgb(var(--background)); */
}


/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes BGfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.055;
  }
}

.main-content {
  /* animation: fadeIn 1.5s ease-in-out; */
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.background-pattern {
  animation: BGfadeIn 3s ease-in-out;
}


.white-bg {
  /* border: 1px solid red; */
  background-color: white;  
}




/* -----------*/


::selection {
  background: #171717;
  color: white;  /* Ensure text is visible on black background */
}


